@{ ViewBag.Title = "Compute Components Store"; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom_style.css" rel="stylesheet" />
</head>
<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="@Url.Action("Index", "ComputerComponent")">@ViewBag.Title</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top d-flex align-items-center">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text"
                                       onkeydown="onSearch(event)"
                                       placeholder="Search...">
                            </div>
                        </li>

                        @if (User.Identity.IsAuthenticated == true)
                        {
                            //User Menu
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="nav-user-info">
                                        <h5 class="mb-0 text-white nav-user-name">@User.Identity.Name</h5>
                                        <span class="status"></span><span class="ml-2">Online</span>
                                    </div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Index", "Admin")"><i class="fas fa-user mr-2"></i>Admin Panel</a>
                                    }
                                    <a class="dropdown-item" href="@Url.Action("Index", "AccountManager")"><i class="fas fa-user mr-2"></i>Manage Account</a>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i class="fas fa-power-off mr-2"></i>Logout</a>
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" href="@Url.Action("Register", "Account")">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" href="@Url.Action("Login", "Account")">Login</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success" href="@Url.Action("Create", "Admin")">Create</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-success" href="@Url.Action("Cart", "ComputerComponent")">Cart</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>

        <div class="main">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/custom_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>
