@model List<UI.Models.ComponentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cart";
    int fullPrice = 0;
}
<div class="dashboard-wrapper">
    <div class="container pt-4">
        @foreach (var item in Model)
        {
            <div class="row g-0">
                <div class="col-4">
                    <img class="img-fluid p-2" src="@item.Image" alt="Card image cap">
                </div>
                <div class="col-8 d-flex flex-column">
                    <div class="card-body">
                        <h3 class="card-title">@item.Name</h3>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">Producer: <strong>@item.Producer</strong></p>
                        <p class="card-text">Type: <strong>@item.Type</strong></p>
                        <strong><p class="card-text">Price: @item.Price $</p></strong>
                        @{fullPrice += item.Price;}
                    </div>
                </div>
            </div>
        }
        <hr />
        <div>
            <div style="font-size: 20px"> Price: @fullPrice</div>
        </div>
    </div>
</div>